#root {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

section {
  text-align: start;
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  border-radius: 10px;
  padding: 5px 14px;
  z-index: 10;
}

.panel {
  background: #1b2aff3a;
  margin-bottom: 20px;
  padding: 5px 10px;
}

p {
  padding: 0;
  line-height: 0;
}

.timepicker{
  display: flex;
  background: #1b2aff3a;
  padding: 5px;
  margin-bottom: 6px;
}

.timepicker>input{
  font-family: sans-serif;
  border: 0;
}

.timepicker>*{
  background: transparent;
  color: white;
  border: 0;
}